body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    /* display: inherit; */
    background-color: rgb(138, 201, 180);
    width: 70vw;
    text-align: center;
    color: rgb(9, 41, 23);
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(138, 201, 180, 0.4), 
    0 0 12px rgb(138, 201, 180, 0.4), 
    0 0 16px rgb(138, 201, 180, 0.4), 
    0 0 24px rgb(138, 201, 180, 0.4),
    0 0 32px rgb(138, 201, 180, 0.4);
    margin: 5vh;
}
form{
    margin: 4vh;
}
form button{
    border: none;
    padding: 10px 30px;
    margin-left: 1vw;
    border-radius: 10px;
}
form input{
    border-radius: 10px;
    padding: 10px;
}
table th{
    padding: 5px 30px;
}
table td{
    padding: 8px 5px;
}